

body{
    background-color: rgb(219, 231, 231);
    background-attachment: fixed;
    background-repeat: no-repeat;
/*    background-image: url(file:///C:/Users/ayuda/Documents/ixhua%20GENERAL/IMAGEN%20DE%20MAR%C3%8DA/Mar%C3%ADa%20SVG.svg);
    background-size: unset;*/
}

.temas{

    float: right;
    width: 25%;
    margin-left: 25%;
}

h1{
    text-align: center;
    color: black;
    font-family: 'Darker Grotesque', sans-serif;
}

.subtemas{

    background-color: darkgray;
    border: none;
    color: white;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    min-width: 325px;
    max-width: 400px;
    max-height: 800px;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Darker Grotesque', sans-serif;
    
  }
  
.subtemas:hover{
    background-color: #e7e7e7;}


 .titulo_boton {
    float:left; 
    padding:5px;  
    background-color:#e6e6e6;
    width:400px;
    font-family:helvetica;
    font-size:16px;
    font-weight:bold;
   }
 
   .boton_mostrar {
    float:right;
    font-size:12px;
    line-height:20px;
    color:#DE7217;
   }
 
   #contenido{
    float:left;
    clear:both;
    border:2px solid #e6e6e6;
    margin-top:2px;
    padding:5px;
    width:396px;
    overflow:auto;
    font-family:helvetica;
    font-size:14px;
    text-align: justify;
    }

    .titleP{
    margin-bottom: 5%;
    }