

body{
    /*background-color: rgb(219, 231, 231);*/
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/h1bcD9Q/Maria-PNG.png" );
   /* background-image: url("file:///C:/Users/ayuda/Documents/ixhua%20GENERAL/Imagen%20de%20MAR%C3%8DA/Mari%CC%81a%20SVG%20sin%20fondo.svg" );*/
    background-size: 10% 27%;
    background-position-x: center;
/*    background-image: url(file:///C:/Users/ayuda/Documents/ixhua%20GENERAL/IMAGEN%20DE%20MAR%C3%8DA/Mar%C3%ADa%20SVG.svg);
    background-size: unset;*/
}

.temas{

    float: right;
    width: 25%;
<<<<<<< HEAD
    top:3%;
=======
    top:5%;
>>>>>>> 877846d78cf75fb2e1b1bd1b6e72b5ac5c2a1521
    margin-left: 70%;
    position: fixed;
    
}

h2{
    color: black;
    font-family: 'Darker Grotesque', sans-serif;
    position: relative;
    left: 5%;
    font-size: 200%;
    width:50%;
    font-weight: bolder;
     
}

hr{
    float:left;
    width:70%;
}

h1{
    text-align: center;
    color: black;
    font-family: 'Darker Grotesque', sans-serif;   
    font-weight: lighter;
}


h3{
    font-family: 'Darker Grotesque', sans-serif;
    position: relative;
    left: 5%;
    font-size: 150%;
    width:50%;
    color:rgb(252, 209, 17);
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: lighter;
}

h4{
    position: relative;
    left: 10%;
}
.subtemas{

    border-color: black;
    background-color: white;
    color: rosybrown;
    padding: 4%;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 100%;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    min-width: 325px;
    max-width: 400px;
    max-height: 800px;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Darker Grotesque', sans-serif;
    text-anchor: middle;
    font-weight: bold;
  

 
  }
  
.subtemas:hover{
    background-color: gainsboro;
}
   
.QuestionsBody{
    float: inline-start;
    border-radius: 10px 10px 10px 10px;
    min-width: 100%;
    max-width: 100%;
    max-height: 300%;
    position: relative;
    margin-top: 5%;
    

}

 .titulo_boton {
    float: inline-start; 
    padding:1%;  
    background-color: gainsboro;
    width:53%;
    font-family:'Darker Grotesque', sans-serif;
    font-size:100%;
    font-weight:bold;
    margin-left: 5%;
    vertical-align: middle;
    border-radius: 10px 10px 10px 10px;
    
   }
 
   .boton_mostrar {
    float: right;
    font-size:250%;
    line-height:10%;
    /*color:#DE7217;*/
    color: rosybrown;
    vertical-align: middle;
   }
 
    .contenido{
    display:none;
    float: inline-start; 
    /*clear:both;*/
    margin-left: 5%;
    padding:3%;
    width: 48%;
    overflow:auto;
    font-family:'Darker Grotesque', sans-serif;
    font-size:120%;
    text-align: justify;
    }

    .titleP{
   
    font-weight: bolder;
    }
    
    